<mat-table [dataSource]="travels$" multiTemplateDataRows class="mat-elevation-z8">

  <!-- dateStartTraveling Column -->
  <ng-container cdkColumnDef="dateStartTraveling">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef>   {{dictionary.DATE}}
    </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let travel"> {{travel.dateStartTraveling}} </mat-cell>
  </ng-container>
 
  <!-- hourStartTraveling Column -->
  <ng-container cdkColumnDef="hourStartTraveling">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef>   {{dictionary.TIME}}
    </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let travel"> {{travel.hourStartTraveling}} </mat-cell>
  </ng-container>
  <!-- price Column -->
  <ng-container cdkColumnDef="price">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef> &nbsp;  {{dictionary.PRICE}}
    </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let travel"> {{(travel.money===undefined?travel.price:travel.money.price)}} </mat-cell>
  </ng-container>
  <!-- driverAppEmail Column -->
  <!-- <ng-container cdkColumnDef="company.driverAppEmail">
      <mat-header-cell mat-header-cell *cdkHeaderCellDef> Email </mat-header-cell>
      <mat-cell mat-cell *cdkCellDef="let travel"> {{travel.company.driverAppEmail}} </mat-cell>
    </ng-container> -->
  <!-- orbit?.orbitShortName Column -->
  <ng-container cdkColumnDef="orbit.orbitShortName">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef>   {{dictionary.ORBIT}}
    </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let travel"> {{travel.orbit.orbitShortName}} </mat-cell>
  </ng-container>
  <!-- driverPart -->
  <ng-container cdkColumnDef="agentPart">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef>   {{dictionary.AGENT_PART}}
    </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let travel">  {{(travel.money===undefined?travel.agentPart:travel.money.agentPart)}} </mat-cell>
  </ng-container>
  <!-- car Column -->
  <ng-container cdkColumnDef="car.carTypeUkrain">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef>   {{dictionary.CAR}}
    </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let travel"> {{travel?.car?.carTypeHebrew}} </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <div class="example-element-description">
       
          <p>
            {{dictionary.CAR}}: {{element?.car?.carCode}} {{element?.car?.carTypeHebrew}}

          </p>
          <p>

            {{dictionary.ORBIT}}:  {{element.orbit.orbitDescripionHebrew}}
            </p>
            <p>

              {{dictionary.NAME}}:  {{element.nameOfCustomer}}
            </p>
         
       
          <!--
             <ng-container *ngIf="element.travelType===travelType.private;else sadirCharge">

            <app-change-money-recived [travel]="element" (changeMoneyRecived)="saveChargeMoneyAmount($event)"></app-change-money-recived>
          </ng-container>
         <ng-template #sadirCharge>
          <app-change-money-recived-sadir [travel]="element" (changeMoneyRecived)="saveChargeMoneySadirAmount($event)"></app-change-money-recived-sadir>
         </ng-template>
         -->
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- header -->
  <mat-header-row *cdkHeaderRowDef="displayedColumns ; sticky: true"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row;changeELM(row)">

    ></mat-row>
  <mat-row *matRowDef="let expandRow; columns: ['expandedDetail']" class="example-detail-row"></mat-row>

</mat-table>